<%
	KERNEL=2
	matrix_metrics = @hash_vars['classic_metric_table']
	header = matrix_metrics.first
	source_metrics = matrix_metrics.select{|record| record[KERNEL] == 'mat'}
	source_metrics.unshift(header)
	kernel_metrics = matrix_metrics.select{|record| record[KERNEL] != 'mat'}
	@hash_vars['source_metrics'] = source_metrics
	@hash_vars['kernel_metrics'] = kernel_metrics
%>
<div style="width:90%; background-color:#ecf0f1; margin:0 auto;">
	<h1 style="text-align:center; background-color:#d6eaf8 ">Kernel Study</h1>
	<h2 style="text-align:center; background-color:#d6eaf8 ">Source analysis</h3>
	<div style="overflow: hidden">
		<p>Introduccion</p>
		<%=
		table(id: 'source_metrics', text: true) 
		%>
		<%=
			barplot(id: 'source_metrics', 
				header: true, row_names: true,
				height: '600px', width: '750px',
				responsive: false,
				fields: [0, header.index('Matrix_Elements'), header.index('Matrix_Elements_Non_Zero')],
				title: "Source elements",
				x_label: 'Number of elements'
				)
		%>
		<%=
			table(id: 'source_metrics', text: true,
				fields: [0].concat(%w[Matrix_Symmetric? Matrix_Dimensions Matrix_Non_Zero_Density Weigth_Average_Non_Zero].map{|f| header.index(f)})
				) 
		%>
	</div>
	<h3 style="text-align:center; background-color:#d6eaf8 ">Matrix weigths</h3>
	<div style="overflow: hidden">
		<%=
			fields = %w[Weigth_Max Weigth_Min Weigth_Q1 Weigth_Average Weigth_Median Weigth_Q3]
			line(id: 'source_metrics', 
				header: true, row_names: true,
				height: '600px', width: '600px',
				responsive: false,
				fields: [0].concat(fields.map{|f| header.index(f)}),
				title: "Source weigths (with zero values)",
				x_label: 'Weigth value',
				config: {
					'graphOrientation' => 'vertical'
					}
				)
		%>
		<%=
			fields = %w[Weigth_Max Weigth_Min_Non_Zero Weigth_Q1_Non_Zero Weigth_Average_Non_Zero Weigth_Median_Non_Zero Weigth_Q3_Non_Zero]
			line(id: 'source_metrics', 
				header: true, row_names: true,
				height: '600px', width: '600px',
				responsive: false,
				fields: [0].concat(fields.map{|f| header.index(f)}),
				title: "Source weigths (with NO zero values)",
				x_label: 'Weigth value',
				config: {
					'graphOrientation' => 'vertical'
					}
				)
		%>

	</div>

	<h3 style="text-align:center; background-color:#d6eaf8 ">Matrix edges per node</h3>
	<div style="overflow: hidden">
		<%=
			fields = %w[Edges_Max Edges_Min Edges_Q1 Edges_Average Edges_Median Edges_Q3]
			line(id: 'source_metrics', 
				header: true, row_names: true,
				height: '600px', width: '600px',
				responsive: false,
				fields: [0].concat(fields.map{|f| header.index(f)}),
				title: "Edges per node (with zero values)",
				x_label: 'Edges number',
				config: {
					'graphOrientation' => 'vertical'
					}
				)
		%>
		<%=
			fields = %w[Edges_Max Edges_Min_Non_Zero Edges_Q1_Non_Zero Edges_Average_Non_Zero Edges_Median_Non_Zero Edges_Q3_Non_Zero]
			line(id: 'source_metrics', 
				header: true, row_names: true,
				height: '600px', width: '600px',
				responsive: false,
				fields: [0].concat(fields.map{|f| header.index(f)}),
				title: "Edges per node (with NO zero values)",
				x_label: 'Edges number',
				config: {
					'graphOrientation' => 'vertical'
					}
				)
		%>

	</div>

	<h2 style="text-align:center; background-color:#d6eaf8 ">Kernel analysis</h3>
	<div style="overflow: hidden">

		<%=
			table(id: 'kernel_metrics', text: true) 
		%>

		<%=
			barplot(id: 'kernel_metrics', 
				header: true, row_names: true,
				height: '600px', width: '800px',
				responsive: false,
				fields: [0, header.index('Matrix_Elements'), header.index('Matrix_Elements_Non_Zero')],
				title: "Kernel elements",
				x_label: 'Number of elements'
				)
		%>
		<%=
			fields = %w[Matrix_Symmetric? Matrix_Dimensions Matrix_Non_Zero_Density]
			table(id: 'kernel_metrics', text: true,
				fields: [0].concat(fields.map{|f| header.index(f)})
				) 
		%>
	</div>
	<div style="overflow: hidden">
		<%=
			fields = %w[Weigth_Max Weigth_Min Weigth_Q1 Weigth_Average Weigth_Median Weigth_Q3]
			line(id: 'kernel_metrics', 
				header: true, row_names: true,
				height: '600px', width: '600px',
				responsive: false,
				fields: [0].concat(fields.map{|f| header.index(f)}),
				title: "Kernel values",
				x_label: 'Weigth value',
				config: {
					'graphOrientation' => 'vertical'
					}
				)
		%>

	</div>
</div>